.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #343a40;
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #343a40;
  border: none;
  margin-top: 0;
  color: #ffffff !important;
}

.dropdown-item {
  color: #ffffff !important;
}

.dropdown-item:hover {
  background-color: #495057;
  color: #f00202 !important;
}

.dropdown-divider {
  border-top: 1px solid #6c757d;
  color: #ffffff !important;
}

.offcanvas, .offcanvas-header, .offcanvas-body, .dropdown-menu {
  background-color: #343a40;
  color: #ffffff;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.assistant-search-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.assistant-search-input {
  flex-grow: 1;
}

.btn-success {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .assistant-search-form {
    flex-wrap: nowrap;
  }

  .assistant-search-input {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .btn-success {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .btn-success {
    width: 100%;
    margin-left: 0;
  }
}
